      
     /* || General setup */

html, body {
  margin: 5px;
  padding: 5px;
}

  html {
   font-size: 8px;
  background-color: #c0c0c0;
  
   }

body {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
}
  header {
   position: fixed;
   top: 0;
  width: 1200px;
  margin-top: 0;
  padding: 10px;
  border: 1rem solid rebeccapurple;
 border-radius: .7em;
   }
  nav {
  margin-top: 190px;
 }
               /* || typography */

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
  
}

p, input, div {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 6rem;
  text-align: center;
  text-shadow: 2px 2px 10px navy;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

  h3 {
  font-size: 3rem;
  text-align: center;
 }

p, div, li {
  font-size: 2.6rem;
  line-height: 2.0;
  border-radius: .5em;
}

    span {
  color: rebeccapurple;
}
    ul {
  display: inline-block;
  list-style: none;
  padding: 0;
} 
    .container {
      background-image: url("bay1.jpg");
      
  }
   .box1, .box2, .box3  {
     background-color: hsla(174, 77%, 31%, .9);
     width: 20%;
     margin: 10px;
    }
   .box4  {
     background-color: hsla(174, 77%, 31%, .7);
     width: 20%;
     margin: 10px;
    }
   .box5, .box6, .box7  {
     background-color: hsla(174, 77%, 31%, .6);
     width: 12%;
     margin: 10px;
    }
    .box8, .box9, .box10, .box11, .box12, .box13 {
       background-color: hsla(174, 77%, 31%, .3);
     width: 8%;
     margin: 10px;
    }
    
 /* || header layout */

       header {
        height: 150px;
      }
     body > * {
  background-color: salmon;
  padding: 1%;
   }

      header img {
        width: 60px;
        position: absolute;
        top: 32.5px;
        right: 32.5px;
      }
     a img {
       width: 60px;
       position: absolute;
       
       }
       
     nav {
  height: 100px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 10px mediumorchid;
  font-weight: bold;

}


   .links-list a {
  background-color: rgb(179,57,81);
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
}
   .one {
  background-color: hsl(174, 77%, 31%);
}
    
  /* || main layout */



   aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px 5px #29627e;
    font-style: italic;
    color: #29627e;
}
   aside > image {
    margin: 2rem;
}

  aside img {
   max-width: 100%;
   }